@import url(./root.css);

*,
*+* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  background-blend-mode: var(--bg-blend);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

body * {
  font-family: 'Oxygen Mono', monospace;
  color: var(--text-color);
}

.container {
  margin: auto;
  padding-top: 3.5rem;
}

.profile {
  padding: 1.5rem;
  text-align: center;
}

.profile img {
  width: 112px;
  border-radius: 50%;
  border: 2px solid var(--stroke-color);
}

.profile p {
  margin: .5rem auto 0;
  font-weight: 600;
}

.profile p span {
  font-size: .8rem;
  font-weight: 400;
  filter: brightness(0.5);
}

.switch {
  width: 4rem;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.switch button {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--stroke-color);
  border-radius: 50%;
  background-color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  animation: slide-back 0.2s;
}

.switch button:hover {
  outline: 0.5rem solid var(--link-bg-color);
}

.light .switch button {
  animation: slide 0.2s forwards;
}

.switch button i {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch .track {
  width: 4rem;
  height: 1.2rem;
  border: 1px solid var(--stroke-color);
  background-color: var(--link-bg-color);
  border-radius: 9999px;
}

.links {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.link-item {
  list-style: none;
  width: 100%;
}

.link-item a,
.link-item .disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--stroke-color);
  background-color: var(--link-bg-color);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.link-item .disabled {
  opacity: 0.5;
}

.link-item .disabled span {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}

.link-item a {
  text-decoration: none;
  transition: background 0.2s ease;
}

.link-item a:hover {
  background-color: var(--link-bg-color-hover);
  border-color: var(--text-color);
}

.link-item a i,
.link-item .disabled i {
  font-size: 1.4rem;
}

.credits {
  padding-top: 3rem;
  opacity: 0.4;
}

.credits p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
}

.credits p img {
  width: .8rem;
  margin-right: .5rem;
}

.light .credits p {
  color: black;
}

.light .credits p img {
  filter: invert(1)
}

@media (min-width: 360px) {
  .container {
    width: 360px;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }

  100% {
    left: 50%;
  }
}

@keyframes slide-back {
  0% {
    left: 50%;
  }

  100% {
    left: 0;
  }
}
